@import "tailwindcss";


@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

.julius-sans-one-regular {
    font-family: "Julius Sans One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

/* Hide vertical scrollbars while preserving scrollability */
.no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
.no-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}